@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root, html, body {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'IBM Plex Sans', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
}
